{% extends 'customer_base.html' %}

{% block page-css-II %}
    <style>
        .btn {
            padding: 8px 20px;
        }
        form {
            padding: 10px 20px;
        }
    </style>
{% endblock %}

{% block  page-content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>新增客户</h2>
        </div>
        <div class="panel-body">
            <form action="" method="post" autocomplete="off" novalidate>
                {% csrf_token %}
                {% for field in form_obj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.0 }}</p>
                    </div>

                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success pull-right">提交</button>
                </div>
            </form>
        </div>
    </div>




{% endblock %}